<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="/registration">Registration App</a>

    <ul class="nav navbar-nav">
        <li><a href="/registration/student">Student</a></li>
        <li><a href="/registration/course">Course</a></li>
        <li><a href="/registration/registrar">Registrar</a></li>
    </ul>
</div>
