@using RegistrationWeb.Domain.RegistrationServiceReference
@model IEnumerable<CourseScheduleDAO>

@{
    ViewBag.Title = "Index";
}

@foreach (CourseScheduleDAO s in Model)
{
    <div>
        <h3>@s.Course.Title</h3>
        <h4>Professor: @s.Professor.Name</h4>
        <h4>Start Time: @s.Schedule.StartTime</h4>
        <h4>Time Blocks: @s.Schedule.TimeBlocks</h4>
    </div>
}