@model RegistrationWeb.Client.Models.StudentCourseViewModel

@{
    ViewBag.Title = "Student " + Model.StudentsListViewModel.CurrentStudentId + " Course Bookmarks";
}

@section Sidebar {
    @Html.StudentNav(Model.StudentsListViewModel)
}

<div>
    @Model.StudentsListViewModel.Message.ToHTML()

    @Html.Partial("StudentNav", Model)
</div>

@if (Model.CourseSchedules.Count() > 0)
{
    foreach (var cs in Model.CourseSchedules)
    {
        @Html.Partial("Course", cs)
    }
}
else
{
    <br />
    <div class="alert alert-warning">
        No courses to display.
    </div>
}