@model RegistrationWeb.Client.Models.StudentCourseViewModel

@{
    ViewBag.Title = "Student " + Model.StudentsListViewModel.CurrentStudentId + " Schedule";
}

@section Sidebar {
    @Html.StudentNav(Model.StudentsListViewModel)
}

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="/student/@Model.StudentsListViewModel.CurrentStudentId">Course Schedule</a></li>
        <li><a href="/student/@Model.StudentsListViewModel.CurrentStudentId/bookmark">Bookmarked Courses</a></li>
        <li><a href="/student/@Model.StudentsListViewModel.CurrentStudentId/add-course">Add Course</a></li>
    </ul>
</div>

@foreach (var cs in Model.CourseSchedules)
{
    @Html.Partial("StudentSchedule", cs)
}